/* styles.css */

/* * {
	font-family: Arial;
} */

/* html { --hotness: #fb3f7c; --sky: #49c8da;}
	h1 {color: var(--hotness);}
	h2 {color: var(--sky);}

:root {--spacing :.35 rem;
--lilac: #c398bcff;
--wisteria: #c1aeeaff;
--powder-blue: #a7b8ddff;
--pale-sky: #b7d0e1ff;
--light-gold: #f9f19fff;
}

	h2 {margin: var(--spacing);} */

h3 {
	font-family: "Gentium Plus", serif;
  	font-weight: 700;
  	font-style: normal;

}

p {
	font-family: "Gentium Plus", serif;
   	font-weight: 400;
   	font-style: normal;
}